---
import Layout from "../components/Layout.astro"

export const prerender = true
---

<Layout title="Catalog of Notes">
    <main>
        <div class="mb-8">
            <h2 class="text-4xl text-green-500 font-semibold mb-2">Catalog of Notes</h2>
            <p class="text-white">Here is a table of contents/a better organization of my notes than just randomly tagging them under eachother like the tag page.</p>
        </div>
    </main>
</Layout>

